/* ------------------------------------
  CSS Stylesheet Área do Aluno
  Author: Letícia Matos | leticiamatos.com 
------------------------------------ */ 


/* Responsive layout */

//Mobile Vertically oriented
@media screen and (min-width: 329px){
// width < 320px

}

//Mobile Horizontally oriented
@media screen and (min-width: 330px) and (max-width: 989px){
// width < 480px

}

//Tablet Vertically oriented
@media screen and (min-width: 990px) and (max-width: 1909px){
// width < 768px 
// width > 1024px

  .block_wpr{
    //background: #0f0;
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
  }

}

//Big Desktops
@media screen and (max-width: 1910px){
	.block_cntt{
		max-width: 1210px;
    margin-left: auto;
    margin-right: auto;
  }
  .colnopad1-2{
    width: 50%;
    float: left;
  }
  .col1-2{
    float: left;
    width: 45%;
    padding: 0 2.5%;
  }
  .col1-3{
    float: left;
    width: 31.333%;
    padding: 0 1%;
  }
  .col2-3{
    float: left;
    width: 64.666%;
    padding: 0 1%;
  }

}